In [1]:
import pandas as pd
import numpy as np

In [2]:
dfSanJose = pd.read_excel("724945-0.xlsx")
dfMadried = pd.read_excel("Madried.xlsx")

In [3]:
#Madrid Dataset
dfMadried

,Y,M,D,T,TM,Tm,SLP,STP,H,PP,VV,V,VM,VG,FG,RA,SN,GR,TS,TR
0,1991,1,1,5.3,9.6,0.0,-,-,86,0,3.4,2.4,13,-,1,0,0,0,0,0
1,1991,1,2,2.6,6.4,0.0,-,-,88,0,3.7,4.1,11.1,-,1,0,0,0,0,0
2,1991,1,3,2.3,5.2,-1.0,-,-,87,0,2.6,2.0,9.4,-,1,0,0,0,0,0
3,1991,1,4,3.9,10.0,0.0,-,-,63,0,8.0,4.4,25.9,-,1,0,0,0,0,0
4,1991,1,5,2.9,10.4,-3.0,-,-,69,0,10.5,5.2,18.3,-,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,1995,12,27,9.7,11.0,6.5,1008.8,941.1,87,6.1,10.1,11.7,22.2,33.5,0,1,0,0,0,0
1822,1995,12,28,11.3,14.0,8.0,1012.8,945,78,0,12.4,14.6,22.2,40.7,0,1,0,0,0,0
1823,1995,12,29,9.0,10.2,7.6,1011.6,943.1,95,7.87,6.9,8.5,16.5,-,0,1,0,0,0,0
1824,1995,12,30,11.5,14.0,8.8,1001.6,935.1,91,21.08,10.3,17.8,29.4,53.5,0,1,0,0,0,0
1825,1995,12,31,11.3,14.0,8.0,1004.8,937.7,79,1.02,12.4,19.8,37,51.9,0,1,0,0,0,0

In [4]:
#San Jose Dataset
dfSanJose

,Y,M,D,T,TM,Tm,SLP,STP,H,PP,VV,V,VM,VG,FG,RA,SN,GR,TS,TR
0,2019,1,1,8.9,13.3,2.8,1021.0,1019.3,29,0.00,16.1,13.7,25.9,42.4,0,0,0,0,0,0
1,2019,1,2,6.4,13.9,0.6,1023.9,1022.2,43,0.00,16.1,6.3,11.1,-,0,0,0,0,0,0
2,2019,1,3,7.1,14.4,0.6,1023.7,1022,54,0.00,16.1,5.0,14.8,-,0,0,0,0,0,0
3,2019,1,4,7.9,16.7,1.1,1017.6,1015.9,62,0.00,16.1,3.3,16.5,-,0,0,0,0,0,0
4,2019,1,5,10.7,16.7,1.7,1008.9,1007.2,72,0.00,15.8,20.9,44.6,59.4,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2021,12,27,8.9,11.7,3.3,1014.8,1013.1,81,0.00,14.2,11.1,24.1,37,0,1,0,0,0,0
1092,2021,12,28,7.2,11.7,5.6,1012.7,1011,76,6.60,16.1,7.4,18.3,-,0,1,0,0,0,0
1093,2021,12,29,9.6,12.8,5.6,1007.0,1005.5,80,0.00,15.8,17.6,33.5,50,0,1,0,0,0,0
1094,2021,12,30,8.5,12.8,5.0,1011.5,1010,85,6.86,14.0,5.6,14.8,-,0,1,0,0,0,0
1095,2021,12,31,8.2,12.8,2.8,1012.3,1010.7,74,0.00,16.1,10.7,24.1,-,0,0,0,0,0,0

In [5]:
#combining the two datasets
frames = [dfSanJose, dfMadried]
df = pd.concat(frames)
df

,Y,M,D,T,TM,Tm,SLP,STP,H,PP,VV,V,VM,VG,FG,RA,SN,GR,TS,TR
0,2019,1,1,8.9,13.3,2.8,1021.0,1019.3,29,0.0,16.1,13.7,25.9,42.4,0,0,0,0,0,0
1,2019,1,2,6.4,13.9,0.6,1023.9,1022.2,43,0.0,16.1,6.3,11.1,-,0,0,0,0,0,0
2,2019,1,3,7.1,14.4,0.6,1023.7,1022,54,0.0,16.1,5.0,14.8,-,0,0,0,0,0,0
3,2019,1,4,7.9,16.7,1.1,1017.6,1015.9,62,0.0,16.1,3.3,16.5,-,0,0,0,0,0,0
4,2019,1,5,10.7,16.7,1.7,1008.9,1007.2,72,0.0,15.8,20.9,44.6,59.4,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,1995,12,27,9.7,11.0,6.5,1008.8,941.1,87,6.1,10.1,11.7,22.2,33.5,0,1,0,0,0,0
1822,1995,12,28,11.3,14.0,8.0,1012.8,945,78,0,12.4,14.6,22.2,40.7,0,1,0,0,0,0
1823,1995,12,29,9.0,10.2,7.6,1011.6,943.1,95,7.87,6.9,8.5,16.5,-,0,1,0,0,0,0
1824,1995,12,30,11.5,14.0,8.8,1001.6,935.1,91,21.08,10.3,17.8,29.4,53.5,0,1,0,0,0,0
1825,1995,12,31,11.3,14.0,8.0,1004.8,937.7,79,1.02,12.4,19.8,37,51.9,0,1,0,0,0,0

In [6]:
#renaming columns to be more legible
df = df.rename(columns={"Y":"Year","M":"Month","D":"Day","T":"Temp","TM":"MaxTemp","Tm":"MinTemp","SLP":"hPAAtSeaLevel","STP":"hPA","H":"Humidity","PP":"TotalRainfall","VV":"Visibility","V":"AverageWindSpeed","VM":"MaxSustainedWindSpeed","VG":"MaxWindSpeed","FG":"Fog","RA":"Rain","SN":"Snow","GR":"?","TS":"Storm","TR":"StormWithRain"})

In [7]:
#Number of Missing Variables
np.sum(df=='-')

Year                        0
Month                       0
Day                         0
Temp                        0
MaxTemp                     0
MinTemp                     0
hPAAtSeaLevel             925
hPA                       279
Humidity                    4
TotalRainfall               2
Visibility                  0
AverageWindSpeed            0
MaxSustainedWindSpeed       5
MaxWindSpeed             2285
Fog                         0
Rain                        0
Snow                        0
?                           0
Storm                       0
StormWithRain               0
dtype: int64

In [8]:
#getting rid of null rows except for MaxWindSpeed
#Getting rid of MaxWindSpeed column because too many missing rows as well as not very useful
df = df.drop(["MaxWindSpeed"],axis=1)
df = df[df[:]!='-']
df = df.dropna(axis=0)
df

,Year,Month,Day,Temp,MaxTemp,MinTemp,hPAAtSeaLevel,hPA,Humidity,TotalRainfall,Visibility,AverageWindSpeed,MaxSustainedWindSpeed,Fog,Rain,Snow,?,Storm,StormWithRain
0,2019,1,1,8.9,13.3,2.8,1021.0,1019.3,29,0.0,16.1,13.7,25.9,0,0,0,0,0,0
1,2019,1,2,6.4,13.9,0.6,1023.9,1022.2,43,0.0,16.1,6.3,11.1,0,0,0,0,0,0
2,2019,1,3,7.1,14.4,0.6,1023.7,1022,54,0.0,16.1,5.0,14.8,0,0,0,0,0,0
3,2019,1,4,7.9,16.7,1.1,1017.6,1015.9,62,0.0,16.1,3.3,16.5,0,0,0,0,0,0
4,2019,1,5,10.7,16.7,1.7,1008.9,1007.2,72,0.0,15.8,20.9,44.6,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,1995,12,27,9.7,11.0,6.5,1008.8,941.1,87,6.1,10.1,11.7,22.2,0,1,0,0,0,0
1822,1995,12,28,11.3,14.0,8.0,1012.8,945,78,0,12.4,14.6,22.2,0,1,0,0,0,0
1823,1995,12,29,9.0,10.2,7.6,1011.6,943.1,95,7.87,6.9,8.5,16.5,0,1,0,0,0,0
1824,1995,12,30,11.5,14.0,8.8,1001.6,935.1,91,21.08,10.3,17.8,29.4,0,1,0,0,0,0
1825,1995,12,31,11.3,14.0,8.0,1004.8,937.7,79,1.02,12.4,19.8,37,0,1,0,0,0,0

In [9]:
#dropping unneccessary columns
df = df.drop(["Year","Month","Day","?","StormWithRain","TotalRainfall","Storm"],axis=1)
#combining rain and snow as percipitation
df["Percipitation"] = df["Rain"]| df["Snow"]
df= df.drop(["Rain","Snow"],axis=1)
#Convert temp to F from C
df["Temp"] = df["Temp"]*9/5 + 32 
df["MaxTemp"] = df["MaxTemp"]*9/5 + 32 
df["MinTemp"] = df["MinTemp"]*9/5 + 32

In [10]:
df

,Temp,MaxTemp,MinTemp,hPAAtSeaLevel,hPA,Humidity,Visibility,AverageWindSpeed,MaxSustainedWindSpeed,Fog,Percipitation
0,48.02,55.94,37.04,1021.0,1019.3,29,16.1,13.7,25.9,0,0
1,43.52,57.02,33.08,1023.9,1022.2,43,16.1,6.3,11.1,0,0
2,44.78,57.92,33.08,1023.7,1022,54,16.1,5.0,14.8,0,0
3,46.22,62.06,33.98,1017.6,1015.9,62,16.1,3.3,16.5,0,0
4,51.26,62.06,35.06,1008.9,1007.2,72,15.8,20.9,44.6,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1821,49.46,51.80,43.70,1008.8,941.1,87,10.1,11.7,22.2,0,1
1822,52.34,57.20,46.40,1012.8,945,78,12.4,14.6,22.2,0,1
1823,48.20,50.36,45.68,1011.6,943.1,95,6.9,8.5,16.5,0,1
1824,52.70,57.20,47.84,1001.6,935.1,91,10.3,17.8,29.4,0,1
1825,52.34,57.20,46.40,1004.8,937.7,79,12.4,19.8,37,0,1

In [11]:
np.sum(df[:])

Temp                     119954.34
MaxTemp                  144820.98
MinTemp                    97317.0
hPAAtSeaLevel            2022681.4
hPA                      1960627.2
Humidity                    121715
Visibility                 27205.3
AverageWindSpeed           20296.1
MaxSustainedWindSpeed      46192.9
Fog                             75
Percipitation                  387
dtype: object

In [12]:
np.max(df[:])

Temp                      89.78
MaxTemp                  107.96
MinTemp                   78.98
hPAAtSeaLevel            1037.1
hPA                      1030.9
Humidity                     98
Visibility                 19.0
AverageWindSpeed           41.9
MaxSustainedWindSpeed      79.5
Fog                           1
Percipitation                 1
dtype: object

In [13]:
df.to_csv("PreprocessedDataset")