In [1]:
import pandas as pd
import numpy as np

In [2]:
dfSanJose = pd.read_csv("/content/PreprocessedDataset")

In [3]:
dfSanJose

,Unnamed: 0,Temp,MaxTemp,MinTemp,hPAAtSeaLevel,hPA,Humidity,Visibility,AverageWindSpeed,MaxSustainedWindSpeed,Fog,Percipitation
0,0,48.02,55.94,37.04,1021.0,1019.3,29,16.1,13.7,25.9,0,0
1,1,43.52,57.02,33.08,1023.9,1022.2,43,16.1,6.3,11.1,0,0
2,2,44.78,57.92,33.08,1023.7,1022.0,54,16.1,5.0,14.8,0,0
3,3,46.22,62.06,33.98,1017.6,1015.9,62,16.1,3.3,16.5,0,0
4,4,51.26,62.06,35.06,1008.9,1007.2,72,15.8,20.9,44.6,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1984,1821,49.46,51.80,43.70,1008.8,941.1,87,10.1,11.7,22.2,0,1
1985,1822,52.34,57.20,46.40,1012.8,945.0,78,12.4,14.6,22.2,0,1
1986,1823,48.20,50.36,45.68,1011.6,943.1,95,6.9,8.5,16.5,0,1
1987,1824,52.70,57.20,47.84,1001.6,935.1,91,10.3,17.8,29.4,0,1
1988,1825,52.34,57.20,46.40,1004.8,937.7,79,12.4,19.8,37.0,0,1

In [4]:
pred = dfSanJose['Percipitation']

In [5]:
pred.values

array([0, 0, 0, ..., 1, 1, 1])

In [6]:
data = dfSanJose.drop(['Percipitation'], axis=1)
data = dfSanJose.drop(['Unnamed: 0'], axis=1)

In [7]:
data

,Temp,MaxTemp,MinTemp,hPAAtSeaLevel,hPA,Humidity,Visibility,AverageWindSpeed,MaxSustainedWindSpeed,Fog,Percipitation
0,48.02,55.94,37.04,1021.0,1019.3,29,16.1,13.7,25.9,0,0
1,43.52,57.02,33.08,1023.9,1022.2,43,16.1,6.3,11.1,0,0
2,44.78,57.92,33.08,1023.7,1022.0,54,16.1,5.0,14.8,0,0
3,46.22,62.06,33.98,1017.6,1015.9,62,16.1,3.3,16.5,0,0
4,51.26,62.06,35.06,1008.9,1007.2,72,15.8,20.9,44.6,0,1
...,...,...,...,...,...,...,...,...,...,...,...
1984,49.46,51.80,43.70,1008.8,941.1,87,10.1,11.7,22.2,0,1
1985,52.34,57.20,46.40,1012.8,945.0,78,12.4,14.6,22.2,0,1
1986,48.20,50.36,45.68,1011.6,943.1,95,6.9,8.5,16.5,0,1
1987,52.70,57.20,47.84,1001.6,935.1,91,10.3,17.8,29.4,0,1
1988,52.34,57.20,46.40,1004.8,937.7,79,12.4,19.8,37.0,0,1

In [8]:
data = data.values

In [9]:
data[0]

array([  48.02,   55.94,   37.04, 1021.  , 1019.3 ,   29.  ,   16.1 ,
         13.7 ,   25.9 ,    0.  ,    0.  ])

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

x_train, x_test, y_train, y_test = train_test_split(data, pred.values, test_size = 0.2, random_state = 1337)

model = LogisticRegression(max_iter=1000000)

In [11]:
model.fit(x_train, y_train)

LogisticRegression(max_iter=1000000)

In [12]:
train_predict = model.predict(x_train)

In [13]:
test_predict = model.predict(x_test)

In [14]:
print('The accuracy of the Logistic Regression for Traning Set is: %d%%' % (metrics.accuracy_score(y_train,train_predict)*100))
print('The accuracy of the Logistic Regression for Test Set is: %d%%' % (metrics.accuracy_score(y_test,test_predict)*100))

The accuracy of the Logistic Regression for Traning Set is: 100%
The accuracy of the Logistic Regression for Test Set is: 100%

In [17]:
import pickle

with open('model_LR', 'wb') as files:
    pickle.dump(model, files)

Load Model

In [18]:
with open('model_LR' , 'rb') as f:
    load_model = pickle.load(f)

In [20]:
load_model_test = load_model.predict(x_test)

In [21]:
print('The accuracy of the Logistic Regression for Test Set is: %d%%' % (metrics.accuracy_score(y_test,load_model_test)*100))

The accuracy of the Logistic Regression for Test Set is: 100%